<p class="mat-body"><b>Winner: </b>{{topPlayer}}</p>
<p class="mat-body"><b>Score: </b>{{topScore}}</p>

<div class="card">
  <p class="mat-body">Scores:</p>
  <div class="container">
    <ul class="list">
      <li>{{session.playerNameList[0]}}: {{session.playerScoreList[0]}}</li>
      <li>{{session.playerNameList[1]}}: {{session.playerScoreList[1]}}</li>
      <div *ngIf="session.mode=='party'">
        <li>{{session.playerNameList[2]}}: {{session.playerScoreList[2]}}</li>
        <li>{{session.playerNameList[3]}}: {{session.playerScoreList[3]}}</li>
      </div>
    </ul>
  </div>
</div>

<button mat-stroked-button color="primary"  routerLink='/mp-menu'>Return Home</button>
