<div class="card-container">
  <div class="card">
    <h2 style="text-align: center;">sudden death</h2>
    <div class="container">
      <p class="timer"><b>Strikes: </b>{{strikes}}</p>
      <p><b>your score: </b>{{score}}</p>
    </div>
  </div>

  <div class="card">
    <input class="input" type="text" id="answer" formControlName="answer" />
    <div class="container">
      <ul class="list">
        <li>{{hint1}}</li>
        <li>{{hint2}}</li>
        <li>{{hint3}}</li>
        <li>{{hint4}}</li>
        <li>{{hint5}}</li>
      </ul>
    </div>
  </div>

  <div class="card">
      <button (click)="checkAnswer()">Check answer</button>
  </div>
</div>
