<div class="card-container">
  <div class="card">
    <h2 style="text-align: center;">classic</h2>
    <div class="container">
      <p class="timer"><b>Seconds remaining: </b>{{timeLeft}}</p>
      <p><b>your score: </b>{{score}}</p>
    </div>
  </div>

  <div class="card">
    <input class="input" type="text" id="answer" formControlName="answer" />
    <div class="container">
      <ul class="list">
        <li id="hint1">hint #1</li>
        <li id="hint2">hint #2</li>
        <li id="hint3">hint #3</li>
        <li id="hint4">hint #4</li>
        <li id="hint5">hint #5</li>
      </ul>
    </div>
  </div>

  <div class="card">
      <button class="button" (click)="getNextCard()" name="skip">skip card</button>
      <button (click)="checkAnswer()">Check answer</button>
  </div>
</div>
