<div class="card-container">
  <div class="card">
    <h2 style="text-align: center;">classic</h2>
    <div class="container">
      <p class="timer"><b>Seconds remaining: </b>{{timeLeft}}</p>
      <p><b>your score: </b>{{score}}</p>
    </div>
  </div>

  <form [formGroup]="gameForm" (keyup.enter)="onSubmit(gameForm.value)" (ngSubmit)="onSubmit(gameForm.value)">
    <div class="card">
      <input id="answer" type="text" formControlName="answer">
      <div class="container">
        <ul class="list">
          <li>{{hint1}}</li>
          <li>{{hint2}}</li>
          <li>{{hint3}}</li>
          <li>{{hint4}}</li>
          <li>{{hint5}}</li>
        </ul>
      </div>
    </div>

    <div class="card">
        <button class="button" (click)="getNextCard()" name="skip">skip card</button> <br>
        <button mat-stroked-button color="primary" type="submit" [disabled]="!gameForm.valid">Check answer</button>
    </div>
  </form>
</div>
